
@{
    ViewBag.Title = "Index";
}

<div class="uk-container uk-container-center" id="epn_container">
    <div class="menu__top">
        <ul id="my-id" class="uk-switcher">
            <li aria-hidden="false" class="uk-active" style="animation-duration: 200ms;">
                <div class="uk-btn-group">


                    <a href="~/admin/cliente/Crud" id="btn_guardar">

                        <i class="uk-icon-large uk-icon-file-o">
                        </i><br>Nuevo
                    </a>

                    <a href="~/admin/cliente/index" id="btn_guardar">
                        <i class="uk-icon-large uk-icon-ban">
                        </i><br>Cancelar
                    </a>

                    <a href="~/admin/cliente/index" id="tablaDetalle">
                        <i class="uk-icon-large uk-icon-list-ul">
                        </i><br>
                        Listado
                    </a>

                    <a href="#" id="btn_imprimir">
                        <i class="uk-icon-large uk-icon-print">
                        </i><br>Imprimir
                    </a>
                </div>
            </li>
            <li aria-hidden="true" class="" style="animation-duration: 200ms;">
                <div class="uk-btn-group">
                    <a href="#" id="btn_imprimir_pos">
                        <i class="uk-icon-large uk-icon-print">
                        </i><br>
                        POS
                    </a>
                    <a href="#" id="btn_imprimir_media_carta">
                        <i class="uk-icon-large uk-icon-print">
                        </i><br>
                        Med. Cart
                    </a>
                    <a href="#" id="btn_imprimir_carta">
                        <i class="uk-icon-large uk-icon-print">
                        </i><br>
                        Carta
                    </a>
                </div>
            </li>
            <li aria-hidden="true" class="" style="animation-duration: 200ms;">
                <div class="uk-btn-group">
                    <a href="#" id="btn_resumen">
                        <i class="uk-icon-large uk-icon-bar-chart">
                        </i><br>
                        Resumen
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>




<div id="empresalist" class="well"></div>


<script>
    $(document).ready(function () {

        $("#empresalist").anexGrid({
            columnas: [
                { leyenda: 'CLIENTE', columna: 'nmcliente', ordenable: true },
                { leyenda: 'RUC', columna: 'ruccliente', style: 'width:10px;', ordenable: true },
                { leyenda: 'EMPRESA', columna: 'empresa_id', style: 'width:140px;', ordenable: true },
                  { leyenda: 'ESTADO', columna: 'estadocliente', style: 'width:140px;', ordenable: true },
                { style: 'width:10px;' },
                { style: 'width:10px;' }
            ],

            modelo: [
                {
                    propiedad: 'nmcliente', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/cliente/crud/")' + obj.idcliente,
                            contenido: valor
                        });
                    }
                },

                { propiedad: 'ruccliente' },
                  { propiedad: 'empresa_id' },

                   @*a.idcliente,
                            a.nmcliente,
                            a.ruccliente,
                            a.empresa_id,
                            a.estadocliente*@

                 {

                     propiedad: 'estadocliente', formato: function (tr, obj, valor) {
                         return valor == 1 ? "Activo"  : "No Activo";
                         //return anexGrid_link({ href:  })
                     }

                 },




                // BOTONES
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/cliente/crud/")' + obj.idcliente,
                            contenido: 'Visualizar',
                            class: 'btn btn-default btn-xs'
                        });
                    },
                },
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/cliente/eliminar/")' + obj.idcliente,
                            contenido: 'Eliminar',
                            class: 'btn btn-danger btn-xs',
                            attr: [
                                'onclick="return confirm(\'¿Esta seguro de eliminar este registro?\')"'
                            ]
                        });
                    },
                }
            ],

            url: '@Url.Content("~/admin/cliente/CargarCliente")',
            paginable: true,
            limite: [20, 60, 100],
            columna: 'id',
            columna_orden: 'DESC'
        });
    })
</script>


